{
  "extends": "eslint:recommended",
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "semi": "error", // Error on missing semicolon
    "indent": "warn" // Warning on inconsistent indentation
  }
}